/* Global declartions */

html {
  background-color: #F4F4F4;
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin: 0px;
}

h1 {
  font-weight: 400;
}

h2 {
  color: #001AFF;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

hr {
  border-color: #001AFF;
  border: 0.1px solid #001AFF;
}
button {
  font-family: 'Roboto Slab', serif;
}


/* Header */

.container-header {
  width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
  margin: 0px;
}

.container-header img {
  width: 110px;
  margin-left: 15px;
}

/* introduction section */

.container-intro {
  margin: 30px;
  max-width: 900px;
}

/* topics section */

.container-topics-section {
  margin: 30px;
}

/* Topic cards */
.container-topic-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

.container-topic-card a {
  text-decoration: none;
  display: block;
  width: 50%;
  flex-grow: 1;
  box-sizing: border-box;
  max-width: 20%; 
  min-width: 150px; 
}

.container-topic-card a:nth-child(-n+2) {
  margin-bottom: 10px;
}

.container-topic-card a:nth-child(1),
.container-topic-card a:nth-child(3) {
  margin-right: 10px;
}

.topic-card {
  color: black;
  background-color: #E0E2F3;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.topic-illustration {
  width: 75px;
  height: 75px;
}

/* FAQ expanding and collapsing */

.container-all-FAQs {
  margin: 30px 30px 60px 30px;
}

.container-all-FAQs hr {
  margin-bottom: 30px;
}

.container-all-FAQs-q-and-a {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-FAQ-card-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.FAQ-card {
    background-color: #E0E2F3;
    color: 000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
  }
  
  .active, .FAQ-card:hover {
    background-color: #8894FF;
  }
  
  .FAQ-card-content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #F4F4F4;
  }

  .FAQ-card-icon {
    float: right;
  }
  /* footer */

  .container-footer {
    background-color: #373737;
    color: white;
    width: auto;
    padding: 60px 30px 30px 30px;
    height: 50px;
    text-align:end;
    font-weight: 300;
  }

/* Media queries */

@media (min-width: 450px) {
  .container-content {
    margin: 0 auto;
  }

  .container-intro {
    margin: 30px;
  }

  .container-topic-card a {
    max-width: 40%; 
  }
  .topic-card {
    height: 150px;
    font-size: 18px;
  }
}

@media (min-width: 700px) {

  .container-content {
    max-width: 850px;
  }

  .container-topic-card a {
    max-width: 22%; 
    margin: 0 10px 10px 0;
  }
  .topic-card {
    height: 150px;
  }
}

@media (min-width: 950px) {

  .container-content {
    max-width: 1050px;
  }

  .container-topic-card a {
    max-width: 22%; 
    margin: 0 10px 10px 0;
  }
  .topic-card {
    height: 150px;
  }
}