/* Global declartions */

html {
  background-color: F4F4F4;
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin: 0px;
}

h1 {
  font-weight: 400;
}

h2 {
  color: #001AFF;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

hr {
  border-color: #001AFF;
  border: 0.1px solid #001AFF;
}

/* Header */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
  margin: 0px;
}

header {
    width: 100%;
    margin: 0;
}

.container-header input {
  text-decoration: none;
  border: 0px solid;
  color: #555555;
  background-color: #E5E3E3;
  border-radius: 15px;
  height: 35px;
  width: 120px;
  margin: 0px 30px;
  padding: 2px 25px;
  font-size: 15px; 
  /* ^ change to rem */
}

/* introduction section */

.intro {
  margin: 30px 30px;
}

/* topics section */

.container-topics-section {
  margin: 30px 30px;
}

/* Topic cards */
.container-topic-card {
  display: flex;
  gap: 20px;
}

.topic-card {
  color: black;
  width: 135px; 
  height: 65px;
  background-color: #E0E2F3;
  border-radius: 15px;
}

.topic-card a {
  text-decoration: none;
}

/* FAQ expanding and collapsing */
.FAQ-card {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .FAQ-card:hover {
    background-color: #555;
  }
  
  .FAQ-card-content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
  }