/* Global declartions */

html {
  background-color: #F4F4F4;
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin: 0px;
}

h1 {
  font-weight: 400;
}

h2 {
  color: #001AFF;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

hr {
  border-color: #001AFF;
  border: 0.1px solid #001AFF;
}
button {
  font-family: 'Roboto Slab', serif;
}


/* Header */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
  margin: 0px;
}

header {
    width: 100%;
    margin: 0;
}

.container-header input {
  text-decoration: none;
  border: 0px solid;
  color: #555555;
  background-color: #E5E3E3;
  border-radius: 15px;
  height: 35px;
  width: 120px;
  margin: 0px 30px;
  padding: 2px 25px;
  font-size: 15px; 
  /* ^ change to rem */
}

/* introduction section */

.container-intro {
  margin: 30px;
}

/* topics section */

.container-topics-section {
  margin: 30px;
}

/* Topic cards */
.container-topic-card {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-evenly;
}

.topic-card {
  color: black;
  background-color: #E0E2F3;
  border-radius: 15px;
  margin-bottom: 20px;
  flex-grow: 1;
  min-width: 150px; /* Set a minimum width */
  height: 125px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-topic-card a {
  text-decoration: none;
}

.topic-illustration {
  width: 75px;
  height: 75px;
}

/* FAQ expanding and collapsing */

.container-all-FAQs {
  margin: 30px 30px 60px 30px;
}

.container-all-FAQs hr {
  margin-bottom: 30px;
}

.container-all-FAQs-q-and-a {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-FAQ-card-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.FAQ-card {
    background-color: #E0E2F3;
    color: 000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
  }
  
  .active, .FAQ-card:hover {
    background-color: #8894FF;
  }
  
  .FAQ-card-content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #F4F4F4;
  }

  .FAQ-card-icon {
    float: right;
  }
  /* footer */

  .container-footer {
    background-color: #373737;
    color: white;
    width: auto;
    padding: 60px 30px 30px 30px;
    height: 50px;
    text-align: center;
    font-weight: 300;
  }